In [13]:
print ("Hola Mundo")

Hola Mundo

In [7]:
print ("Enero, Febrero, Marzo,..., Diciembre")

Enero, Febrero, Marzo,..., Diciembre

In [3]:
variable = 5
print (variable)

5

In [4]:
variable = 5
print (variable)
# Esto imprimir√° 5

5

In [5]:
primera_variable, segunda_variable, tercera_variable = 1, "dos", 3
print (primera_variable)
print (segunda_variable)
print (tercera_variable)

1
dos
3

In [6]:
numero = 5
resultado = numero + 7
print (resultado)

12

In [8]:
primer_numero = 6
segundo_numero = 8
suma = primer_numero + segundo_numero
print (suma)

primera_cadena = "Hola que tal "
segunda_cadena = "Mundo"
union = primera_cadena + segunda_cadena

print (union)

14
Hola que tal Mundo

In [9]:
numero = 5
cadena = "Hola"

union = numero + cadena
print (union)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [10]:
texto = "10"
decimal = 21.15
un_entero = int (texto)
print (type(texto))
print (type(decimal))
print (type(un_entero))
print (type(int(decimal)))

<class 'str'>
<class 'float'>
<class 'int'>
<class 'int'>

In [24]:
int(2.7)

2

In [26]:
float(2)

2.0

In [27]:
round(2.7)

3

In [29]:
str(2)

'2'

In [11]:
entero = 600
hexadecimal = hex(entero)
print(hexadecimal)

octal = oct(entero)
print(octal)

0x258
0o1130

In [12]:
primer_numero = 10
segundo_numero = 3
suma = primer_numero + segundo_numero
resta = primer_numero - segundo_numero
multiplicacion = primer_numero * segundo_numero
division = primer_numero / segundo_numero
potencia = primer_numero ** segundo_numero
modulo = primer_numero % segundo_numero
division_entera = primer_numero // segundo_numero

print (primer_numero)
print (segundo_numero)
print(suma)
print(resta)
print(multiplicacion)
print(division)
print(potencia)
print(modulo)
print(division_entera)

10
3
13
7
30
3.3333333333333335
1000
1
3

In [13]:
numero = 7
texto = "Hola Mundo"
print (3 == 2)
print (3 > 2)
print (texto == "Hola Mundo")
print (texto == "Hola mundo")
print (7 >= 6)

False
True
True
False
True

In [14]:
saludo = "Hola"
saludo += " Mundo"
print (saludo)

gallina ="Co"
gallina = 4 * gallina
print (gallina)

Hola Mundo
CoCoCoCo

In [18]:
variable1 = 6
variable2 = "6"

print (variable1 is variable2)

False

In [8]:
Lista = ["silla", "mesa", "armario", "reloj"]
print ("silla" in Lista)

True

In [9]:
print ("ropero" in Lista)

False

In [10]:
print (Lista)

['silla', 'mesa', 'armario', 'reloj']

In [11]:
lista = []
lista = list(("uno", "dos", "tres", "cuatro"))
print (lista)

['uno', 'dos', 'tres', 'cuatro']

In [25]:
print (lista[1], lista[2])

dos tres

In [26]:
lista[2] = "Nuevo N√∫mero"

In [28]:
print (lista[2])
print(lista)

Nuevo N√∫mero
['uno', 'dos', 'Nuevo N√∫mero', 'cuatro']

In [22]:
lista = [[1, 2, 3], ["a", "b", "c"]]
print (lista)

[[1, 2, 3], ['a', 'b', 'c']]

In [27]:
print (lista [0] [2])

3

In [32]:
print (lista [1] [1])

o

In [33]:
lista = []
lista = list(("uno", "dos", "tres", "cuatro"))
print (lista)

['uno', 'dos', 'tres', 'cuatro']

In [36]:
lista [1:4]

['dos', 'tres', 'cuatro']

In [2]:
lista = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]

In [3]:
print(lista[2:15])

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [4]:
print (lista[2:15:2])

[3, 5, 7, 9, 11, 13, 15]

In [6]:
tupla = "primero", "segundo", "tercero", "cuarto", "quinto"

In [8]:
print (tupla)

('primero', 'segundo', 'tercero', 'cuarto', 'quinto')

In [10]:
print (tupla[2])

tercero

In [12]:
print (tupla[1:3])

('segundo', 'tercero')

In [14]:
cadena = "Hola Mundo"

In [16]:
print (cadena [1])

o

In [19]:
print (cadena [1:5])

ola

In [21]:
print (cadena [0:10:2])

Hl ud

In [29]:
diccionario = {"animal": "gato", "cosa": "piedra", "planta": "lechuga"}

In [30]:
print (diccionario)

{'animal': 'gato', 'cosa': 'piedra', 'planta': 'lechuga'}

In [32]:
print (diccionario ["cosa"])

piedra

In [33]:
print (diccionario ["cosa"])

piedra

In [34]:
print (diccionario ["planta"])

lechuga

In [35]:
diccionario ["planta"] = "coliflor"

In [36]:
print (diccionario ["planta"])

coliflor

In [37]:
cubiertos = {"tenedor", "cuchara", "cuchillo", "cucharilla"}

In [38]:
vajilla = set (["plato", "taza", "copa"])

In [39]:
print (cubiertos)

{'cucharilla', 'tenedor', 'cuchara', 'cuchillo'}

In [40]:
print (vajilla)

{'taza', 'copa', 'plato'}

In [41]:
variable1 = "Hola"

In [42]:
variable2 = variable1

In [43]:
variable3 = "adios"

In [44]:
print (id(variable1))

1811696786096

In [46]:
print (id(variable2))

1811696786096

In [47]:
print (id(variable3))

1811697508592

In [48]:
variable = 7
if variable > 5:
    print ("la variable es mayor que 5")
print ("esto se muestra siempre.")

la variable es mayor que 5
esto se muestra siempre.

In [49]:
variable = 2
if variable > 3:
    print ("La variable es mayor que 3")
else:
    print ("print la variable es menor que 3")

print la variable es menor que 3

In [49]:
variable = 2
if variable > 3:
    print ("La variable es mayor que 3.")
    print ("No est√° mal")
elif variable < 3:
    print ("La variable es menor que 3.")
else: 
    print ("La variable es 3.")

La variable es menor que 3.

In [50]:
a = 0

while a < 10:
    a = a + 1
    print (a)

1
2
3
4
5
6
7
8
9
10

In [3]:
a = 0

while a < 10:
    a = a + 1
    if a == 3:
        break
    print (a)

1
2

In [51]:
a = 0

while a < 10:
    a = a + 1
    if a == 3:
        continue
    print (a)

1
2
4
5
6
7
8
9
10

In [12]:
primero = 3

while primero <= 7:
    print ("Tabla del " + str (primero))
    segundo = 1
    while segundo <= 10:
        print (str(primero) + " X " + str(segundo) + " = " + str(primero * segundo))
        segundo += 1
    primero += 1
print ("###################")

Tabla del 3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
Tabla del 4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
Tabla del 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
Tabla del 6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
Tabla del 7
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
###################

In [53]:
lista = ["calcet√≠n", "pantal√≥n", "camisa", "camiseta", "otro calcet√≠n", "gorra"]

for prenda in lista:
    print ("La lavadora se ha comida mi " + prenda)

La lavadora se ha comida mi calcet√≠n
La lavadora se ha comida mi pantal√≥n
La lavadora se ha comida mi camisa
La lavadora se ha comida mi camiseta
La lavadora se ha comida mi otro calcet√≠n
La lavadora se ha comida mi gorra

In [54]:
saludo = "Hola Mundo"

for letra in saludo:
    print (letra)

H
o
l
a

M
u
n
d
o

In [56]:
datos = {"Nombre": "Jos√©", "Apellido": "P√©rez", "Altura": "1,70"} 

for concepto in datos:
    print (concepto + ": " + datos[concepto])

Nombre: Jos√©
Apellido: P√©rez
Altura: 1,70

In [57]:
datos = {"Nombre": "Jos√©", "Apellido": "Gonz√°lez", "Altura": "1,70"} 

for concepto, valor in datos.items() :
    print (concepto + ": " + valor)

Nombre: Jos√©
Apellido: Gonz√°lez
Altura: 1,70

In [58]:
dividendo = 1
divisor = 0

resultado = dividendo/divisor
print ("La divisi√≥n resulta: ", resultado)
print ("The End")

ZeroDivisionError: division by zero

In [59]:
dividendo = 1
divisor = 0

try:
    resultado = dividendo/divisor
    print ("La divisi√≥n resulta: ", resultado)
except:
    if divisor == 0:
        print ("No se puede dividir por cero, animal.")
print ("The End")

No se puede dividir por cero, animal.
The End

In [60]:
dividendo = "A"
divisor = 2

try:
    resultado = dividendo/divisor
    print ("La divisi√≥n resulta: ", resultado)
except ZeroDivisionError:
    if divisor == 0:
        print ("No se puede dividir por cero, animal.")
except TypeError:
        print ("Eso no es un n√∫mero, animal.")
print ("The End")

Eso no es un n√∫mero, animal.
The End